@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Mono'), local('RobotoMono-Regular'), url(https://fonts.gstatic.com/s/robotomono/v5/L0x5DF4xlVMF-BfR8bXMIjhLq3-cXbKD.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: local('Rubik Black'), local('Rubik-Black'), url(https://fonts.gstatic.com/s/rubik/v7/iJWHBXyIfDnIV7FCimmd8WD07oB-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


.circle {
    height: 70px;
    width: 70px;
    background-color: #ccc;
    border-radius: 50%;
    display: inline-block;
    text-align: center; 
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px; 
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    border-color: white;
    position: relative;
    
}

.info {
    position: absolute;
    left: -30px;
    background-color: #ccc;
    width: 180%;
    height: 80%;
    margin-bottom: 3px;
    display: none;
    z-index: 2;
    font-size: 12px;
    font-family: 'Roboto Mono', sans-serif;
    color: black;
    border-radius: 6px;
    text-align: center;
    padding: 0;
    top: 80%;
    border: 1px solid black;

}

.circle:hover > .info {
    display: block;
}

.form {
    display: none;
  }



div {
    background-color: white;
    width: 300px;
    padding: 25px 25px;
    margin: 0 auto;
    
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 50px;
    color: #E34E45;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: normal, 600;

}

h3 {
   font-family: 'Rubik', sans-serif;
   font-weight: 900;
   color: #E34E45; 
   margin-top: 35px;
}

h4 {
    font-family: 'Roboto Mono', sans-serif;
    font-weight: normal, 600;
}

body {
    background-color: #eee;
}

.center {
    margin: auto;
    width: 50%;
    padding: 20 px 20px;
}

.btn {
    position: absolute;
    margin-left: 325px;
    border: none;
    font-size: 14px;
    color: #ccc;
}

.save {
    background-color: #008000;
    color: white;
    position: absolute; */
    margin: auto;
    bottom: 15px;
    left: 20px;
    width: 90%;
    height: 10%;
    text-align: center;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
}

#reserved {
    background-color: white;
    margin-left: 130px; 
    text-align: left; 
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    position: fixed; 
    top: 180px; 
    width: 350px;
    height: 350px;
    padding: 15px 15px;

}

input {
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
};

input::placeholder {
    color: #ccc;
    padding: 50px; 

};

span.available {
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;

} 

span:hover {
    color: #ADAAAA
}

span.reserved {
    background-color: #ADAAAA;
    cursor: not-allowed;
}
